<?xml version='1.1' encoding='UTF-8'?>
<flow-definition>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition">
    <script>@Library(&apos;lib@master&apos;) _
sleep 180
foo()</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>